{% extends "shop/base.html" %}
{#
If productvariations are not used, remove 'product_variations', 
'describe_variation' and 'adjust_price' below. The column "Additional Info"
then also does not make any sense.
#}
{% load i18n wishlisttags product_variations %}

{% block body %}
  <h1>{% trans "Wishlist" %}</h1>
      <p></p><form method="get" action="{% url wishlist %}">
      	{% select_wishlist %} <button type="submit">Go</button>
      </form></p>
      <form method="post" action="{% url wishlist_remove_item %}">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form.id }}
        {% endfor %}
        <table border="1">
          <thead>
            <tr>
              <th>{% trans "Product name" %}</th>
              <th>{% trans "Additional Info" %}</th>
              <th>{% trans "Unit price" %}</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
            <tr>
              <td>{{ form.instance.product.get_name }}</td>
              <td>{{ form.instance.variation|describe_variation }}</td>
              <td>{{ form.instance.product.get_price|adjust_price:form.instance.variation }}</td>
              <td><button type="submit" name="item_id" value="{{ form.instance.id }}">{% trans "Remove item" %}</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
      <p><form action="{% url wishlist_rename %}" method="post">
        {% csrf_token %}
		<label for="name">{% trans "Rename wishlist to" %}:</label>
		<input type="text" name="wishlist_name" value="{{ wishlist_name }}" />
        <button type="submit">Go</button>
      </form>
      <form action="{% url wishlist_delete %}" method="post">
        {% csrf_token %}
        <button type="submit">{% trans "Delete this wishlist" %}</button>
      </form>
	  </p>
{% endblock %}
